--
-- Create model Categoria
--
CREATE TABLE "TIENDA_CATEGORIA" ("ID" NUMBER(11) NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "SLUG" NVARCHAR2(50) NULL UNIQUE, "DESCRIPCION" NCLOB NULL, "IMAGEN" NVARCHAR2(100) NULL);
--
-- Create model Producto
--
CREATE TABLE "TIENDA_PRODUCTO" ("IDENTIFICADOR" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "DESCRIPCION" NCLOB NULL, "PRECIO" NUMBER(10, 2) NOT NULL, "IMAGEN" NVARCHAR2(100) NULL, "PRECIO_ORIGINAL" NUMBER(10, 2) NULL, "PRECIO_DESCUENTO" NUMBER(10, 2) NULL, "ES_DESCUENTO" NUMBER(1) NOT NULL CHECK ("ES_DESCUENTO" IN (0,1)), "CATEGORIA_ID" NUMBER(11) NULL);
--
-- Create model Carrito
--
CREATE TABLE "TIENDA_CARRITO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "CANTIDAD" NUMBER(11) NOT NULL CHECK ("CANTIDAD" >= 0), "AGREGADO_EN" TIMESTAMP NOT NULL, "PRODUCTO_ID" NUMBER(11) NOT NULL, "USUARIO_ID" NUMBER(19) NOT NULL);
ALTER TABLE "TIENDA_PRODUCTO" ADD CONSTRAINT "TIENDA_PR_CATEGORIA_6DC179B4_F" FOREIGN KEY ("CATEGORIA_ID") REFERENCES "TIENDA_CATEGORIA" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "TIENDA_PRO_CATEGORIA__6DC179B4" ON "TIENDA_PRODUCTO" ("CATEGORIA_ID");
ALTER TABLE "TIENDA_CARRITO" ADD CONSTRAINT "TIENDA_CA_USUARIO_I_E751772B_U" UNIQUE ("USUARIO_ID", "PRODUCTO_ID");
ALTER TABLE "TIENDA_CARRITO" ADD CONSTRAINT "TIENDA_CA_PRODUCTO__6AEF88C6_F" FOREIGN KEY ("PRODUCTO_ID") REFERENCES "TIENDA_PRODUCTO" ("IDENTIFICADOR") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "TIENDA_CARRITO" ADD CONSTRAINT "TIENDA_CA_USUARIO_I_488F5349_F" FOREIGN KEY ("USUARIO_ID") REFERENCES "USUARIOS_USUARIO" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "TIENDA_CAR_PRODUCTO_I_6AEF88C6" ON "TIENDA_CARRITO" ("PRODUCTO_ID");
CREATE INDEX "TIENDA_CAR_USUARIO_ID_488F5349" ON "TIENDA_CARRITO" ("USUARIO_ID");
